.monolog-doctrine-header h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
    color: #313131;
    word-break: break-all;
}
