.monolog-doctrine-header h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
    color: #313131;
    word-break: break-all;
}

table.monolog-doctrine-results td {
    word-break: break-all;
    padding: 8px 5px;
}
table.monolog-doctrine-results td:first-child { white-space: nowrap; }

.monolog-doctrine-filters .filter-term input { width: 100%; }
.monolog-doctrine-filters .filter-level select { width: 100%; }
.monolog-doctrine-filters .filter-datefrom { float: left; margin-right: 10px; }
.monolog-doctrine-filters .filter-daterange .datepicker { width: 75px; }
.monolog-doctrine-filters .filter-daterange .hour,
.monolog-doctrine-filters .filter-daterange .minute { width: 20px; }
.monolog-doctrine-filters .filter-submit { padding-top: 25px; }
